{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>


<div class="container">
    <div class="row">
       {% for active_list in active_listings %}
        {% if forloop.counter0|divisibleby:3 and not forloop.first %}<div class="w-100"></div>{% endif %}
            <div class="col-md-auto">
                
                <div class="card" style="width: 18rem;">
                    <img src="{{active_list.image}}" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">{{ active_list.title }}</h5>
                      <p class="card-text">{{ active_list.description }}</p>
                    </div>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item">Price: ${{ active_list.start_price }}</li>
                    </ul>
                    <div class="card-body">
                      <a href="{% url 'item' auction_id=active_list.id %}" class="card-link">Details</a>  
                      {% if user.is_authenticated %}                    
                        <a href="{% url 'watch_list' id=active_list.id %}" value="add" class="card-link">Add to watchlist</a>
                      {% endif %}
                     </div>
                  </div>
            </div>
        {% endfor %}
    </div>
</div>
        

{% endblock %}