{% extends "auctions/layout.html" %}

{% block body %}
<h2>Watchlist</h2>

<div class="container">
    <div class="row">
       {% for item in list %}
        {% if forloop.counter0|divisibleby:2 and not forloop.first %}<div class="w-100"></div>{% endif %}
            <div class="col-md-auto">
                
                <div class="card" style="width: 18rem;">
                    <img src="{{item.image}}" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">{{ item.title }}</h5>
                      <p class="card-text">{{ item.description }}</p>
                    </div>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item">Price: ${{ item.start_price }}</li>
                      <!-- <li class="list-group-item">Dapibus ac facilisis in</li> -->
                    </ul>
                    <div class="card-body">
                      <a href="{% url 'item' id=item.id %}" class="card-link">Details</a>                      
                      <a href="#" class="card-link">Remove</a>
                    </div>
                  </div>
            </div>
        {% endfor %}
    </div>
</div>
        

{% endblock %}